/*
    config.js
*/

exports.config = {
    // discord bot token
    TOKEN: "XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX",

    // fortnitetracker api key https://fortnitetracker.com/site-api
    TRN_APIKEY: "xxxxxxxxxxxxxxxxxxxxxxxxxxx",

    // bot owner discord id
    OWNER_ID: "0000000000000000000000000",

    // bot prefix
    PREFIX: "!",

    // channel id's to ignore
    ignore_channels: ["000000000", "000000000", "000000000"]
};
